.header-container {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: auto;
}

.header-date-container {
  width: 20%;
  text-align: left;
}

.header-view-selector {
  width: 60%;
  text-align: center;
}

.header-create-meeting {
  width: 20%;
  text-align: right;
}

.create-meating-button {
  background: blue;
  color: white;
}

.header-view-selector {
  vertical-align: center;
}
