.header-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.header-date-container {
  width: 20%;
  text-align: left;
}

.header-view-selector {
  width: 60%;
  text-align: center;
}

.header-create-meeting {
  width: 20%;
  text-align: center;
}

.create-meating-button {
  background: steelblue;
  color: white;
  width: 60%;
  margin-top: 10%;
}

.header-view-selector {
  vertical-align: center;
}
