.footer-container {
  height: 50px;
  display: flex;
  flex-direction: row;
  float: right;
}

.time-buttons-container {
  height: 30px;
  width: 300px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.previous-button {
  width: 45%;
}

.next-button {
  width: 45%;
}
